.violao {
  height: 300px;
}

.teclado {
  width: 300px;
}

.bateria {
  width: 300px;
}

.footer-css {
  font-size: 20px;
}

.icone {
  font-size: 20px;
}

.h5 {
  font-size: 20px;
}